body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #274690;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    color: #274690;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: white;
}

img.about {
    opacity: 0.5;
}

.card {
    margin: 100px;
    border-color: #302B27;
}

.btn-primary {
  background-color: #274690;
  border-color: #274690;
}

.btn-primary:hover {
  background-color: #1B264F;
  border-color: #1B264F;
}

.card-body {
  background-color: #F5F3F5;
}

.card-header {
  background-color: #302B27;
}